<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title th:text="${title}" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        
        <doc th:text="${host}" style="display:none" />
        <reset th:text="${reset}" style="display: none" />
        
        <!-- divtopclass -- div top class -->
        <div th:class="${divtopclass}" th:style="${divtopstyle}">
            <h1 th:text="${top}" th:class="${htopclass}" th:style="${htopstyle}" />
        </div><!-- div -- Topo -->
        
        <div th:class="${div_form}">
            
            <form th:action="@{/mac_modify}" onsubmit="return Submit()" method="GET">
                
                <input type="hidden" name="id" th:value="${form_type_hidden}" />
                
                <input th:class="${form_control}" id="val" type="text" name="txt" th:value="${value}" />
                
                <input th:class="${button_submit}" type="submit" value="SALVAR" />
                
            </form>
            
            <button th:class="${button_return}" onclick="Host()">VOLTAR</button>
            <button th:class="${button_clear}" onclick="Reset()">LIMPAR HISTÓRICO</button>
            
        </div>
        
        <div th:class="${list_container}">
            
            <p th:class="${list_title}" th:text="${number}" />
            
            <p th:class="${list}" th:each="mc : ${text}" th:text="${mc}" />
            
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        <script>
            
            const home = document.querySelector("doc").innerText;
            const limp = document.querySelector("reset").innerText;
            
            function Host(){
                
                window.open(home,"_parent");
                
            }//Host()
            
            function Submit(){
                
                const dg = document.getElementById("val").value.trim();
                
                if(dg === ""){
                    
                    alert("Preencha o campo!");
                    document.getElementById("val").value = "";
                    document.getElementById("val").focus();
                    
                    return false;
                    
                } else if(dg.length < 5){//if(dg === "")
                    
                    alert("Pelo menos, 5 caracteres!");
                    document.getElementById("val").value = dg;
                    document.getElementById("val").focus();
                    
                    return false;
                    
                } else {//if(dg === "")
                    
                    document.getElementById("val").value = dg.toUpperCase();
                    
                    return true;
                    
                }//if(dg === "")
                
            }//Submit()
            
            function Reset(){
                
                const op = document.getElementById("val").value;
                
                if(confirm("Deseja limpar todo o histórico da marca?")){
                    
                    window.open(limp,"_parent");
                    
                }//if(confirm(String))
                
            }//Reset()
            
        </script>
        
    </body>
</html>
