<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title th:text="${title}" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            doc{
                display:none;
            }
        </style>
        <script>
            
            function Host(){
                
                console.clear();
                console.log(document.querySelector("doc").innerText);
                
            }//Host()
            
        </script>
    </head>
    
    <body onload="Host()">
        
        <h1 th:text="${top}" />
        <h2 th:text="${learn}" />
        
        <doc th:text="${localhost}" />
        
    </body>
</html>
