<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title th:text="${title}">TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        
    <doc th:text="${host}" style="display:none" />
        
        <!-- divtopclass -- div top class -->
        <div th:class="${divtopclass}" th:style="${divtopstyle}">
            <h1 th:text="${top}" th:class="${htopclass}" th:style="${htopstyle}" />
        </div><!-- div -- Topo -->
        
        <!-- divclass -- div container class -->
        <div th:class="${div_container}">
            
            <div th:class="${div_row}">
            
                <form th:action="@{/mac}" method="GET">

                    <div th:class="${div_col}">
                        
                        <label th:text="${lbl}" th:class="${label}" />
                        <input id="cp" th:class="${input}" type="text" name="txt" />
                        
                    </div>

                    <div th:class="${div_col}">
                        
                        <input th:class="${submit}" type="submit" value="SALVAR" />
                        <input th:class="${reset}" type="reset" VALUE="LIMPAR" />
                        <div th:class="${cancel}" onclick="Cancel()">VOLTAR</div>
                        
                    </div>

                </form>
                
            </div>
            
        </div><!-- div -- container -->
        
        <div th:class="${div_container}" th:if="${com_mac}">
            
            <div th:class="${div_title}" th:each="mac : ${marca}">
                
                <div th:class="${div_row}">
                    
                    <div th:class="${col}" th:text="${mac.ReturnId()}" />
                    
                    <div th:if="${mac.notProdutos()}" th:class="${col}">
                        <a th:href="'del_mac?cod=' + ${mac.getId()}" th:class="${del_class}" th:style="${del_style}">delet</a>
                        <!--<button th:name="${mac.getId()}" th:class="${del_class}" th:style="${del_style}">APAGAR</button>-->
                    </div><!--div th:class="${col}"-->
                    
                </div><!--div th:class="${row}""-->
                    
                <div th:class="${div_text}" th:each="mc : ${mac.Read()}">
                    <p th:class="${text}" th:text="${mc}" />
                </div>
                
            </div><!--div th:class="${div_container}" th:if="${com_mac}"-->
            
        </div><!--div th:class="${div_title}" th:each="mac : ${marca}"-->
        
        <script>
            
            function Cancel(){
                
                const home = document.querySelector("doc").innerText;
                
                const campo = document.getElementById("cp");
                
                if(campo.value.trim() === ""){
                
                    window.open(home,"_parent");
                
                } else {
                    
                    campo.focus();
                    
                }
                
            };
            
            /*function Click(click){
                
                window.open(home + "delmarca?cod=" + click,"_parent");
                
            }*/
            
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
                
    </body>
</html>
